.setting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

label {
  font-size: 1.25rem;
}

.reference-image {
  max-height: 12em;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
