/* TODO: This is almost the same as page/styles.css, we should just use the one and modify the settings page accordingly */

/* centers images in the middle of the page */
.imageExtractCenterStyle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* full page navigation */
#imageExtractUIContainer {
  width: 100%;
  background-color: lightyellow;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

/* each toggle + label container */
.imageExtractUI {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 5px
}

.imageExtractUI:nth-child(odd) {
  background-color: #0000000f;
}

/* align under the toggle button */
.imageExtractLabel {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  margin: auto;
  padding: 10px;
  padding-left: 2px;
  position: relative;
  padding-right: 5px
}

.imageExtractCheckbox {
  text-align: center;
  margin: auto;
  padding: 0;
  position: relative;
}

.hideImage {
  display: none;
}
